body {
    background-image: url(../img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.credit {
    background: white;
    font-size: 1.3em;
    color: whitesmoke;
    padding: 1em;
    border-radius: 0.5em;
}

.credit a {
    color: turquoise;
    transition: 1s;
}

.credit a:hover {
    color: white;
    text-shadow: 0 0 8px white;
}

.sci
{
  position: fixed;  
  top: 95%;
  right: 30px;
  transform: translateZ(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.sci li
{
  list-style: none;  
}

.sci li a
{
  display: inline-block;
  margin: 5px 0;
  transform: scale(0.6); 
  filter: invert(1);
  color: white; 
}
